@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+Mono&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  color: #ffebcd;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
}

.navbar button {
  background-color: #ffebcd;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

.navbar button:hover {
  background: #fdd300;
  color: #ffebcd;
  border: 2px solid #ffebcd;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.logo {
  width: 100px;
}

.secao_inf {
  padding-top: 30px;
  display: flex;
  text-align: justify;
}

.secao_inf img {
  width: 800px;
  height: 500px;
}

.informacoes {
  padding: 60px;
}

.informacoes p {
  color: #fdd300;
  text-align: justify;
}
