@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+Mono&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  color: #ffebcd;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
}

.navbar_link {
  text-decoration: none;
  color: black;
}

.navbar button {
  background-color: #ffebcd;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

.navbar button:hover {
  background: #ffc700;
  color: #ffebcd;
  border: 2px solid #ffebcd;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.logo {
  width: 100px;
}

.secao_inf {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  text-align: justify;
}

.secao_inf img {
  width: 800px;
  height: 500px;
}

.informacoes {
  padding: 80px;
}

.informacoes p {
  color: #ffc700;
  text-align: justify;
}

.container {
  margin-left: 300px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 500px;
  height: 500px;
  background-color: #ffc700;
}

.container_section input,
select {
  text-align: center;
  width: 200px;
  height: 20px;
  border-radius: 20px;
}

.container_section h2 {
  text-align: center;
}
.container_form {
  padding: 30px;
  text-align: center;
}

.container_form input,
select,
textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

.rodape {
  display: flex;
  align-items: center;
  background-color: black;
  margin-top: 50px;
  padding: 5px;
  color: #ffebcd;
}

.rodape img {
  padding-left: 10px;
  padding-right: 30px;
  width: 40px;
}
